<div *ngIf="(qResponsesState$ | async) as qResponsesState" [ngSwitch]="qResponsesState.dataState" class="container">

    <div *ngSwitchCase="DataState.LOADING" class="d-flex justify-content-center align-items-xl-center">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div *ngSwitchCase="DataState.LOADED">

        <!-- GIA KATHE GROUP BY IDENTIFIER DEFAULT YEAR -->
        <div *ngFor="let group of qResponsesState.appData | keyvalue">
            <div style="margin-top: 15px;margin-bottom: 15px;">
                <h3 style="margin: 0;">{{group.key}}</h3>
            </div>
            
            <!-- GIA KATHE GROUP POU DIMIOURGITHEIKE -->
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div  *ngFor="let qResponse of group.value;let j = index">


                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{qResponse.name}}</h5>
                                <!-- GIA KATHE FILTER ENTRY -->
                                <div *ngFor="let entry of qResponse.decodedFilter | keyvalue">
                                    <div class="">
                                        <span class="">{{entry.key}} :</span>
                                        <span class=""> {{entry.value}}</span>
                                    </div>

                                    

                                </div>
                                <a href="{{'/quest?id='+qResponse.questionnaireId+'&&filter='+qResponse.filter}}" class="stretched-link"></a>
                                
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>


    </div>
    <div *ngSwitchCase="DataState.ERROR">

    </div>
</div>